@media screen and (max-width: 992px) {
    #menu .social {
        padding: 0 15%;
    }
    #menu .payment_systems {
        padding: 0 15%;
    }
}
@media screen and (max-width: 767px) {
    #menu .main_menu {
        justify-content: space-around;
    }
}
@media screen and (max-width: 640px) {
    #menu .main_menu {
        padding: 0 150px;
        flex-direction: column;
        align-items: stretch;
    }
    #menu .info_menu{
        flex-direction: column;
        align-items: center;
    }
    #menu .info_menu a{
        display: block;
    }
    #menu .social {
        padding: 0 10%;
    }
}
@media screen and (max-width: 500px) {
    #menu .main_menu {
        padding: 0 100px;
    }
    #menu .social {
        padding: 0;
    }
}