@media (min-width: 1200px) {
    .hidden-lg {
        display: none!important;
    }
}

@media (max-width: 1200px) {
    header .top-nav-container {
        margin-left: 30px;
    }
    header .top-nav-list .top-nav-item {
        margin-right: 15px;
    }
    section.section-cloud-desc .cloud-desc_block > div:not(.cloud-desc_title) {
        width: 100%;
    }
    section.section-cloud .cloud-block:first-of-type .cloud-img,
    section.section-cloud .cloud-block:first-of-type .cloud-title,
    section.section-cloud-desc .cloud-row .cloud-desc:first-of-type .cloud-button {
        padding-left: 0;
    }
    .hidden-md {
        display: none!important;
    }
}

@media (max-width: 992px) {
    .hidden-sm {
        display: none!important;
    }
    .top-banner .banner-inner {
        padding-top: 100px;
    }
    section .security-item_block:nth-of-type(2n+1) {
        margin: 0!important;
        clear: left!important;
    }
    section .security-item_block:nth-of-type(4) {
        margin: 0!important;
        clear: none!important;
    }
    section.section-blog .one-post .blog-item_block .img-block  img {
        margin-bottom: 20px!important;
        min-width: inherit;
        min-height: inherit;
    }
    section.section-blog .other-posts .blog-item_block .img-block  img {
        /*max-height: inherit;*/
    }
    section.section-clients_history .other-clients .client-item_block .title {
        height: inherit;
    }
    section.section-clients_history .other-clients .client-item_block .preview-text {
        padding-bottom: 20px;
        min-height: inherit;
    }
    section.section-blog .other-posts .blog-item_block .title {
        height: inherit;
    }
    section.section-cloud-desc .cloud-row .cloud-desc_block {
        padding: 0 20px 60px 20px;
    }
    section.section-cloud-desc .cloud-row > div:first-of-type {
        padding-left: 40px;
    }
    section.section-cloud-desc .cloud-row > div:last-of-type {
        padding-right: 40px;
    }
    body.dark section.top-banner .banner-inner {
        padding: 200px 0 100px 300px;
    }
}

@media (max-width: 767px) {
    header .header-wrapper .top-login {
        margin: 0 0 0 20px;
    }
    .top-banner .banner-inner .banner-text {
        font-size: 44px;
    }
    .content-crop .section-wrapper {
        padding: 65px 0;
    }
    section.section-cloud .cloud-block {
        padding: 28px 20px 0 40px;
    }
    .content-crop.section-cloud .section-wrapper {
        margin: -210px 40px 0 40px;
    }
    .hidden-xs {
        display: none!important;
    }
}

@media (max-width: 650px) {
    header .header-wrapper .top-phone {
        display: none!important;
    }
    section.section-cloud-desc .cloud-row.cloud-buttons {
        display: none!important;
    }
    section.section-cloud-desc .cloud-row.cloud-one_button {
        display: block!important;
    }
    body.dark section.top-banner .banner-inner {
        padding: 200px 0 100px 0;
    }
}
