@media (max-width: 1450px) {
    .top-nav-list .top-nav-item {
        margin-right: 30px!important;
    }
    .top-nav-list .top-nav-item:last-child {
        margin-right: 0!important;
    }
    .top-nav-container {
        margin-left: 30px!important;
    }
    .hidden-lg {
        display: none!important;
    }
    .top-banner .banner-inner,
    .top-banner.banner-blog .banner-inner {
        height: 600px;
        padding: 100px 0 50px;
    }
    .top-banner .banner-inner.banner-with-logo {
        padding: 30px 0 50px;
    }
    .top-banner .banner-inner.banner-with-logo .banner-logo img {
        width: 200px;
    }
    .top-banner.banner-clients .banner-inner .banner-subtext {
        padding: 0px 0 40px;
    }
    .top-banner .banner-inner.banner-with-logo .banner-text{
        margin-bottom: 2%!important;
    }
    .top-banner .banner-inner .banner-text {
        font-size: 43px;
    }
    .top-banner .banner-inner .banner-text {
        margin-bottom: 5%!important;
    }
    .top-banner .banner-inner .main-banner-text{
        margin-bottom: 50px !important;
    }
    .top-banner.banner-partners .banner-inner .banner-text {
        width: 45%;
    }
    body.dark section.top-banner .banner-inner {
        width: 85%;
    }
}

@media (max-width: 1300px) {
    .top-nav-list .top-nav-item {
        margin-right: 15px!important;
    }
    .top-nav-list .top-nav-item:last-child {
        margin-right: 0!important;
    }
    .top-nav-container {
        margin-left: 15px!important;
    }
}

@media (max-width: 1200px) {
    header .top-nav-container {
        margin-left: 30px;
    }
    header .top-nav-list .top-nav-item {
        margin-right: 15px;
    }
    section.section-cloud-desc .cloud-desc_block > div:not(.cloud-desc_title) {
        width: 100%;
    }
    section.section-cloud .cloud-block:first-of-type .cloud-img,
    section.section-cloud .cloud-block:first-of-type .cloud-title,
    section.section-cloud-desc .cloud-row .cloud-desc:first-of-type .cloud-button {
        padding-left: 0;
    }
    section.section-company_team .team-block_item:nth-of-type(5) {
        margin-left: 0;
        clear: inherit;
    }

    section.section-company_team .team-block_item:nth-of-type(6) {
        margin-right: 0;
    }
    body.dark section.top-banner .banner-inner {
        padding: 40px 0 40px 45%;
    }
    .hidden-md {
        display: none!important;
    }
}

@media (max-width: 992px) {
    .hidden-sm {
        display: none!important;
    }
    .top-banner .banner-inner {
        padding-top: 70px;
    }
    section .security-item_block:nth-of-type(2n+1) {
        margin: 0!important;
        clear: left!important;
    }
    section .security-item_block:nth-of-type(4) {
        margin: 0!important;
        clear: none!important;
    }
    section.section-blog .one-post .blog-item_block .img-block  img {
        margin-bottom: 20px!important;
        min-width: inherit;
        min-height: inherit;
    }
    section.section-blog .other-posts .blog-item_block .img-block  img {
        /*max-height: inherit;*/
    }
    section.section-clients_history .other-clients .client-item_block .title {
        height: inherit;
    }
    section.section-clients_history .other-clients .client-item_block .preview-text {
        padding-bottom: 20px;
        min-height: inherit;
    }
    section.section-blog .other-posts .blog-item_block .title {
        height: inherit;
    }
    section.section-cloud-desc .cloud-row .cloud-desc_block {
        padding: 0 20px 60px 20px;
    }
    section.section-cloud-desc .cloud-row > div:first-of-type {
        padding-left: 40px;
		padding-top: 10px;
    }
    section.section-cloud-desc .cloud-row > div:last-of-type {
        padding-right: 40px;
    }

    body.dark section.top-banner .banner-inner {
        width: 80%;
    }

    body.dark section.top-banner.banner-company .banner-inner .banner-text {
        font-size: 35px;
    }

    section.section-partners-list .partners-list_item {
        float: left;
        width: 50%;
        height: 80px;
        margin-bottom: 20px;
        line-height: 80px;
        vertical-align: middle;
        text-align: center;
    }
    section.section-company .history-block:nth-of-type(3n) {
        clear: left;
    }
    .top-banner .banner-inner {
        padding: 50px 0 50px;
    }
    .top-banner.banner-partners .banner-inner .banner-text {
        width: 70%;
    }
    body.dark section.top-banner.banner-contacts .banner-inner {
        padding: 80px 0 80px 30%;
    }


}

@media (max-width: 767px) {
    header .header-wrapper .top-login {
        margin: 0 0 0 20px;
    }
    .top-banner .banner-inner .banner-text {
        font-size: 31px;
    }
    .content-crop .section-wrapper {
        padding: 65px 10%;
    }
    section.section-cloud .cloud-block {
        padding: 28px 20px 0 40px;
    }
    .content-crop.section-cloud .section-wrapper {
        margin: -210px 40px 0 40px;
    }

    section.section-company_team {
        padding: 65px 10%;
    }
    body.dark section.top-banner.banner-contacts .banner-inner,
    body.dark section.top-banner.banner-company .banner-inner {
        padding: 50px 0 50px 0;
        width: 90%;
        margin: 0 auto;
    }
    .top-banner.banner-contacts,
    .top-banner.banner-company {
        background-position: right center;
    }

    section.section-partners-list .partners-img,
    section.section-partners-list .partners-title,
    section.section-partners-list .partners-description,
    section.section-company_vacancy .vacancy-img,
    section.section-company_vacancy .vacancy-title,
    section.section-company_vacancy .vacancy-description {
        text-align: center;
    }
    section.section-partners-list .partners-text,
    section.section-partners-dealers .partners-text,
    section.section-partners-list .more-form {
        width: 100%;
    }

    .hidden-xs {
        display: none!important;
    }
}

@media (max-width: 650px) {
    header .header-wrapper .top-phone {
        display: none!important;
    }
    section.section-cloud-desc .cloud-row.cloud-buttons {
        display: none!important;
    }
    section.section-cloud-desc .cloud-row.cloud-one_button {
        display: block!important;
        position: absolute;
        bottom: 180px;
        left: 93px;
    }
    section .block-title {
        padding: 20px 0 50px!important;
        font-size: 30px!important;
        word-break: break-word;
    }
    .content-crop .section-wrapper {
        margin: -210px 0 0 0;
    }
    section.section-blog_detail .post {
        padding: 0;
    }
    /*section.section-partners-list {
        padding: 0 65px 50px;
    }*/
    section.section-partners-list .partners-list_item{
        width: 100%;
        padding: 0;
    }
    section.section-company_video .video_border {
        margin-top: 20px;
    }
    section.section-company_video .video_border:before {
        display: none;
    }
    /*body.dark section.top-banner.banner-company .banner-inner {
        padding: 10px 0 10px 15%;
        margin: 0 20px;
    }*/
    .top-banner .banner-inner .banner-text {

        margin-bottom: 50px!important;
    }
    /*body.dark section.top-banner.banner-company .banner-inner .banner-text{
        padding: 0 0 0 50%;
    }
    body.dark section.top-banner.banner-company .banner-inner .banner-button {
        text-align: right;
    }*/
}

@media (max-width: 550px) {
    .top-banner .banner-inner.banner-with-logo {
        padding: 0 0 50px;
    }
    /*body.dark section.top-banner.banner-company .banner-inner .banner-text{
        padding: 0;
    }
    body.dark section.top-banner.banner-company .banner-inner {
        padding: 10px 0;
        margin: 0 20px;
    }
    body.dark section.top-banner.banner-company .banner-inner .banner-button {
        text-align: center;
    }*/
    .top-banner.banner-partners .banner-inner .banner-text {
        width: 100%;
    }
    section.section-company_vacancy .company-button span {
        padding: 14px 10px;
    }
    section.section-clients_history .view-more span {
        padding: 14px 50px;
    }
    section.section-contacts .social-list .social-item {
        margin-right: 15px;
    }
}
@media (max-width: 1030px) {
.more-text-bg-1{
	background-size: 700px auto;
	min-width: 700px;
	right: -28%;
}

.more-text-bg-2{
    right: -32%;
	background-size: 700px auto;
	min-width: 700px;
}

.more-text-bg-3{
    left: -74%;
}

.more-apple{
	left: -48%;
    bottom: -20%;
}
.more-block-white-video {
	min-height: 600px;
}
.more-elem-use {
    margin: 0 1.5%;
}
.more-rt {
    left: 430px;
}
.more-elem-use {
    padding-right: 110px;
}
    .more-elem-use-pic-1{
background-size: 35px auto;
    }
    .more-elem-use-pic-2{
        background-size: 125px auto;
    }
    .more-elem-use-pic-3{
background-size: 60px auto;
    }
    .more-elem-use-pic-4{
background-size: 140px auto;
    }
    .more-elem-use-pic-5{
background-size: 45px auto;
    }
    .more-elem-use-pic-6{
background-size: 125px auto;

    }
    .more-elem-use-pic-7{
background-size: 60px auto;
    }
    .integ-small-block {
        min-width: 28%;
    }
    .more-block-white-video {
        background-position-x: 60%;
    }
    .more-text-os-2 {
        margin-left: 35px;
    }
    .more-text-os-3 {
        min-height: 525px;
    }
}

@media (max-width: 970px) {
	.top-banner .banner-inner.main-height {
		/* height: 620px; */
		padding: 35px 0 100px;
	}
	.info-block-div {
		padding-top: 75px;
	}
    .more-text-bg-1 {
        right: -44%;
    }
    .more-text-bg-2 {
        bottom: -150px;
        right: -45%;
    }
    .more-text-bg-3 {
        left: -86%;
        bottom: -72px;
    }
    .more-apple {
        left: -58%;
        bottom: -25%;
    }
    .more-elem-use {
        padding-right: 0px;
    }
    .integ-small-block {
        max-width: 34%;
    }
    section.section-security-question {
        padding: 65px 80px 50px 80px;
    }

    .cloud-button {
        padding-left: 100px!important;
    }
}

@media (min-width: 1280px) {
    .content-crop-more{
        width: 1400px;
        margin: 0 auto;
    }

    .content {
        max-width: 1440px;
        margin: 0 auto;
    }

    .content-crop{
        max-width: 1440px;
        margin: 0 auto;
    }
}

@media (min-width: 1900px) {
    .integ-main {
        height: 1650px;
    }
}
@media (min-width: 1650px) {
    body.dark section.top-banner .banner-inner {
        padding: 80px 12% 80px 47%;
    }
}

/*========================= /forbusiness (адаптив 1024) ========================*/

@media (max-width: 1030px) {
    .forbuss-block-right {
        padding-left: 50px;
    }

    .forbuss-block-title-padding-1 {
        padding-top: 90px;
        padding-left: 10px;
    }

    .forbuss-bigpic-1 {
        bottom: -7px;
        right: -55%;
    }

    .forbuss-bigpic-2 {
        left: -70%;
    }

    .forbuss-bigpic-3 {
        bottom: -11%;
        right: -64%;
    }

    .forbuss-bigpic-4 {
        left: -71%;
    }

    .forbuss-bigpic-5 {
        bottom: 10%;
        right: -55%;
    }

    .forbuss-bigpic-6 {
        left: -57%;
    }

    .forbuss-icon-main {
        margin-top: 0px;
    }

    .forbuss-icon-margin-adapt-1{
        margin-left: 60px;
        margin-top: 15px;
    }

    .forbuss-icon-margin-adapt-2{
        margin-left: 46px;
        margin-top: 15px;
    }

    .forbuss-button {
        padding: 10px 6px;
    }

    .forbuss-block-margin-top {
        margin-top: 100px;
    }
}

/*========================= /forbusiness (адаптив 640) ========================*/

@media (max-width: 650px) {
    .forbuss-block-right {
        padding-top: 40%;
        padding-left: 4%;
        padding-right: 0%;
    }

    .forbuss-block-left {
        padding-left: 4%;
        padding-top: 15%;
        padding-bottom: 4%;
    }

    .forbuss-bigpic-1 {
        bottom: 15px;
        right: -508px;
        background-size: 500px auto;
    }

    .forbuss-bigpic-2 {
        bottom: 25%;
        left: -36px;
        background-size: 500px auto;
    }

    .forbuss-bigpic-3 {
        bottom: 5%;
        right: -121%;
        background-size: 500px auto;
    }

    .forbuss-bigpic-4 {
        bottom: 10%;
        left: -9%;
        background-size: 500px auto;
    }

    .forbuss-bigpic-5 {
        bottom: 26%;
        right: -97%;
        background-size: 500px auto;
    }

    .forbuss-bigpic-6 {
        bottom: 75px;
        left: -48px;
        background-size: 500px auto;
    }

    .forbuss-block-in-block {
        margin-right: 10px;
    }

    .forbuss-icon-margin-adapt-1 {
        margin-left: 90px;
    }

    .forbuss-icon-margin-adapt-2 {
        margin-left: 74px;
    }

    .forbuss-button-block {
        text-align: center;
    }

    .forbuss-button {
        padding: 10px 20px;
    }

    .forbuss-block-title-padding-1 {
        padding-left: 0px;
    }
}

/*========================= /more (адаптив 640) ========================*/

@media (max-width: 670px) {

    .more-text-os-1 {
        padding: 100px 10px 0 10px;
        margin-top: 200px;
    }

    .more-text-os-2 {
        padding: 0 10px 0 10px;
        margin-top: 200px;
    }

    .more-text-os-3 {
        padding: 100px 10px 0px 10px;
        margin-top: 200px;
    }

    .more-text-bg-1 {
        left: -188px;
        bottom: 180px;
        background-size: 500px auto;
    }

    .more-text-bg-2 {
        right: -130px;
        bottom: 255px;
        background-size: 500px auto;
    }

    .more-text-bg-3 {
        left: -298px;
        bottom: 222px;
        background-size: 500px auto;
    }

    .more-div-text-button {
        text-align: center;
    }

    .more-block-comfort {
        padding: 100px 10px 0 10px;
        margin-top: 260px;
        margin-bottom: 85px;
    }

    .more-apple {
        background: url(../img/more/more-apple.png) no-repeat center;
        background-size: 500px auto;
        left: -170px;
        bottom: 208px;
    }

    .more-app {
        margin-left: 30%;
    }

    .more-block-gray-c {
        padding: 50px 10px 50px 10px;
    }

    .more-block-white-video {
        background-size: 500px auto;
        background-position-y: 110px;
    }

    .more-div-button {
        margin: 270px auto 0;
    }

    .more-elem {
        display: block;
        max-width: 180px;
        padding-top: 100px;
        float: left;
    }

    .more-elem-pic-1 {
        float: left;
    }

    .more-elem-pic-2 {
        float: right;
    }

    .more-elem-pic-3 {
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: -60px;
    }

    .more-elem-pic-4 {
        float: left;
    }

    .more-elem-pic-5 {
        float: right;
    }

    .more-block-white-video {
        min-height: 0px;
    }

    .more-elem-use {
        margin: 0 8px 0 0;
    }

    .more-elem-use {
        float: left;
        display: block;
    }

    .more-block-gray-form {
        margin: 0px auto 0 auto;
    }

    .more-rt {
        display: none;
    }

    .more-form {
        width: 100%;
    }

    .more-button-green {
        padding: 10px 48px;
    }

    .more-reestr {
        background-size: 300px auto;
        width: 300px;
    }
}

/*========================= /integration (адаптив 640) ========================*/

@media (max-width: 670px) {
    .integ-small-block {
        max-width: 50%;
    }
    .integ-small-block-2 {
        padding-top: 20px;
    }

    .integ-elem {
        width: 100%;
        margin-top: 10px;
    }

    .integ-ip-tell {
        width: 100%;
    }

    .integ-title-for-elem {
        display: block;
        position: relative;
    }

    .integ-deal {
        width: 50%;
        padding-top: 100px;
    }

    .integ-title-bott-absl{
        position: absolute;
        bottom: -460px;
        left: 0px;
    }

    .integ-title-bott-absl-2{
        position: absolute;
        bottom: -460px;
        left: 0px;
    }

    .integ-title-for-elem-1 {
        width: 100%;
    }

    .integ-elem-4 {
        width: 80%;
        display: table-cell;
        float: left;
        margin-left: 60px;
    }

    .sfp-cell {
        width: 50%;
    }
}

/*========================= /integration (адаптив 640) ========================*/

@media (max-width: 670px) {
    section.section-cloud-desc .cloud-row > div:last-of-type {
        padding-right: 0px;
    }

    .cloud-padding-left {
        padding-left: 0!important;
    }

    .cloud-bg-line-height{
        display: none;
    }
}


/*========================= Главная (адаптив 640) ========================*/

@media (max-width: 670px) {
    .main_p{
        display: inherit;
        margin-bottom: 35px;
    }

    .info-block-div {
        position: absolute;
        bottom: 38%;
        left: 5%;
    }

    .main-block-mute {
    display: none;
    }

    .top-banner .banner-inner.main-height {
        padding: 130px 0 100px;
    }
}

/*======Адаптив мобилки=====*/
@media screen and (max-width: 480px) {
    /*Главная*/
    .info-block-div {
        display: none;
    }
    #trailer {
        display: none;
    }
    .top-banner.banner-main {
        background-image: url(../img/main/mobile.jpg);
        box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset;
    }
    .top-banner .banner-inner.main-height {
        padding: 200px 0 100px;
    }
    .more-text-os-3 {
        padding: 0px 10px 5px 10px;
        margin-top: 0px;
    }
    .main-title-f {
        font-size: 48px;
    }
    .main-center-f {
        width: 480px;
        margin-left: -240px;
        top: 62%;
    }
    .button-white-f {
        padding: 10px 78px !important;
    }

    /*Безопасность*/
    .integ-title {
        font-size: 33px;
    }
    .secr-butt-mobile{
        padding: 10px 8px!important;
    }
    /*Интеграция*/
    .section-wrapper-integ {
        margin: -210px 0 0 0!important;
    }
    .integ-for-dev {
        height: 415px;
    }
    .integ-main {
        height: 3050px;
    }
    .integ-elem-4 {
         margin-left: 23px;
         width: 95%;
     }
    .integ-add-func {
        height: 1760px;
    }
    .integ-head {
        width: 100%;
    }
    .integ-add-func {
        padding-left: 0%;
    }
    /*Решения от партнёров*/
    .button-green-withoutb {
        padding: 10px 15px!important;
    }
    .sft-descrip {
        width: 150px;
    }
    .sfp-cell {
        height: 325px;
    }
    /*Решения для бизнеса*/
    .forbuss-block-right {
        padding: 0;
        height: 730px;
    }

    .forbuss-block-left {
        padding-top: 45px;
    }

    .content-crop .forbuss-mobile{
        padding: 25px 10px;
    }
    .forbuss-block-title {
        padding-bottom: 390px;
    }
    .forbuss-bigpic-1 {
        background: url(../img/forbusiness/forbuss-pic-1.png) no-repeat;
        background-size: 730px auto;
        background-position-x: -124px;
        min-width: 480px;
        min-height: 50px;
        max-height: 430px;

        position: absolute;
        top: 50px;
        left: -20px;
        right: 0;
    }

    .forbuss-bigpic-2{
        background: url(../img/forbusiness/forbuss-pic-2.png) no-repeat;
        background-size: 760px auto;
        background-position-x: -134px;
        min-width: 480px;
        min-height: 50px;
        max-height: 430px;
        position: absolute;
        top: 100px;
        left: -20px;
        right: 0;
    }
    .forbuss-bigpic-3{
        background: url(../img/forbusiness/forbuss-pic-3.png) no-repeat;
        background-size: 760px auto;
        background-position-x: -160px;
        min-width: 480px;
        min-height: 50px;
        max-height: 430px;
        position: absolute;
        top: 50px;
        left: -20px;
        right: 0;
    }
    .forbuss-bigpic-4{
        background: url(../img/forbusiness/forbuss-pic-4.png) no-repeat;
        background-size: 760px auto;
        background-position-x: -121px;
        min-width: 480px;
        min-height: 50px;
        max-height: 430px;
        position: absolute;
        top: 140px;
        left: -20px;
        right: 0;
    }
    .forbuss-bigpic-5{
        background: url(../img/forbusiness/forbuss-pic-3.png) no-repeat;
        background-size: 760px auto;
        background-position-x: -160px;
        min-width: 480px;
        min-height: 50px;
        max-height: 430px;
        position: absolute;
        top: 50px;
        left: -20px;
        right: 0;
    }
    .forbuss-bigpic-6{
        background: url(../img/forbusiness/forbuss-pic-4.png) no-repeat;
        background-size: 760px auto;
        background-position-x: -121px;
        min-width: 480px;
        min-height: 50px;
        max-height: 430px;
        position: absolute;
        top: 90px;
        left: -20px;
        right: 0;
    }

    .forbuss-block-more-open-2{
        height: 100%;
        transition: 1s;
    }
    .forbuss-block-mobile-more1{
        height: 1490px!important;
    }
    .forbuss-block-mobile-more2{
        height: 1440px!important;
    }

    .forbuss-block-mobile-more3{
        height: 1515px!important;
    }
    .forbuss-block-mobile-more4{
        height: 1570px!important;
    }

    .forbuss-block-mobile-more5{
        height: 1350px!important;
    }
    .forbuss-block-mobile-more6{
        height: 1245px!important;
    }



    .forbuss-button-block {
       text-align: center;
    }

    .forbuss-button-block-1 {
        text-align: center;
    }

    .forbuss-height-more1 {
        height: 205px;
    }

    .forbuss-height-more2 {
        height: 306px;
    }


    .forbuss-block-title-padding-1 {
        padding-top: 0px;
    }
    .forbuss-block-gray {
        margin-left: -20px;
        margin-right: -20px;
    }
    .forbuss-icon-main {
        margin-bottom: 165px;
    }
    .forbuss-block-margin-top {
        margin-top: 50px;
    }

    .forbuss-block-title-padding-2 {
        padding-top: 0px;
    }


    .top-banner.banner-forbuss {
        background-position-x: 0;
    }




    /*Узнать больше*/
    .more-text-os-2 {
        padding: 0 10px 0 10px;
        margin-top: 0;
        margin-bottom: 82px;
        margin-left: 0;

    }
    .more-text-bg-2 {
        background-size: 520px auto;
        min-width: 425px;
        min-height: 290px;
        display: block;
        background-position-x: -15px;
        right: -55px;
        bottom: 20px;
    }
    .more-text-bg-3 {
        background-size: 700px auto;
        min-width: 462px;
        min-height: 430px;
        top: 410px;
        left: -38px;
        background-position-x: 0;

    }
    .more-text-bg-1 {
        background-size: 400px auto;
        min-width: 400px;
        min-height: 215px;
        display: none;
    }
    .more-apple {
        background-size: 400px auto;
        min-width: 400px;
        min-height: 215px;
        display: none;
    }
    .more-block-white-video {
        background-size: 400px auto;
        background-position-y: 110px;
        display: none;
    }
    .more-div-text-button {
        margin: 275px auto 0 auto;
    }


}