header .logo {
    z-index: 200;
}

#menu {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 100%;
    height: auto;
    background-color: #08bf32;
    opacity: 0.949;
}

.menu_wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: inherit;
    margin-top: 90px;

    /*float: left;*/
    /*width: 100%;*/
}
.menu_wrap > div{
    float: none;
}
#menu::after{
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
}

#menu .main_menu {
    width: 80%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    /*margin-top: 135px;*/
    /*margin-bottom: 20px;*/

}
#menu .main_menu > div{
    /*width: 30%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: flex-start;*/
    /*flex-wrap: wrap;*/
}
#menu .main_menu > div {
    margin-bottom: 1%;
    padding: 0 5%;
}
#menu .main_menu > div > a{
    text-transform: uppercase;
}
#menu .main_menu > div > ul{
    font-weight: 100;
}
#menu .main_menu > div >  ul > a{
    line-height: 0.7;
}
#menu .line{
    width: 80%;
}
#menu .info_menu {
    margin: 5px;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#menu .social {
    /*margin-top: 20px;*/
    /*padding: 0 100px;*/
    width: 18%;
    height: 30px;
    position: absolute;
    top: 50%;
    right: 13%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#menu .payment_systems {
    width: 15%;
    height: 30px;
    position: absolute;
    top: 60%;
    right: 14%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}