.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.button-common {
  text-align: center;
  padding: 12px 30px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 300;
}
.button-green {
  background: #08bf32;
  color: #fff;
}
.button-white {
  border: 1px solid #fff;
  color: #fff;
}
.button-yellow {
  background: #ffd451;
  color: #414b4d;
}
.button-tr {
  border-color: #414b4d;
  background: transparent;
  color: #414b4d;
}
a.button-common,
a.button-common:hover {
  text-decoration: none;
}
a.button:hover span {
  box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}
a.button-common:hover {
  box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}
a.hover_w:hover {
  color: #fff;
}
.input_transparent {
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background-color: transparent;
}
.placeholder-w::-webkit-input-placeholder {
  color: #FFFFFF;
}
.placeholder-w::-moz-placeholder {
  color: #FFFFFF;
}
.placeholder-w:-moz-placeholder {
  color: #FFFFFF;
}
.placeholder-w:-ms-input-placeholder {
  color: #FFFFFF;
}
.placeholder-w:focus::-webkit-input-placeholder {
  color: transparent;
}
.placeholder-w:focus::-moz-placeholder {
  color: transparent;
}
.placeholder-w:focus:-moz-placeholder {
  color: transparent;
}
.placeholder-w:focus:-ms-input-placeholder {
  color: transparent;
}
.banner-prices {
  min-height: 860px;
  background-image: url(../img/prices/lady.png);
  background-position: 0 -6%;
}
.banner-prices > div:first-of-type {
  margin-top: 95px;
  margin-bottom: 180px;
  padding-left: 70px;
  text-align: center;
}
.banner-prices > div:first-of-type a {
  padding-right: 45px;
  padding-left: 45px;
}
.banner-prices > div:last-of-type {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.banner-prices > div:last-of-type > a {
  font-weight: 400;
  display: block;
  flex-basis: 260px;
}
.banner-prices > div:last-of-type div {
  position: absolute;
  top: 15%;
  right: -25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.banner-prices > div:last-of-type div a {
  display: block;
}
.banner-prices > div:last-of-type div span {
  display: block;
  text-transform: capitalize;
}
.banner-prices p {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
}
.plans > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.plans > div:first-of-type {
  align-items: flex-start;
  margin-top: -120px;
  transition-property: margin;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.plans > div:first-of-type > div {
  flex-basis: 220px;
  position: relative;
  padding: 0;
  background-color: white;
  opacity: 0.85;
  transition-property: opacity;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.plans > div:last-of-type {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.plans > div:last-of-type p {
  font-size: 17px;
}
.plans .plan {
  box-shadow: 0 0 10px #b5b5b5;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  transition-property: margin,padding;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.plans .plan .plan_name {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.plans .plan .plan_name span {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.plans .plan .plan_price {
  display: flex;
  flex-direction: column;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.plans .plan .plan_price span:first-child {
  font-weight: 400;
  font-size: 48px;
  color: #ffd451;
}
.plans .plan .plan_price span:last-child {
  font-weight: 100;
  font-size: 12px;
  color: #b5b5b5;
}
.plans .plan .plan_description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #252525;
  padding: 25px 5px 0 5px;
  max-height: 415px;
}
.plans .plan .plan_description span:first-child {
  flex-basis: 50px;
}
.plans .plan .plan_description ul {
  min-width: 150px;
  align-self: center;
  text-align: left;
  list-style: url("../img/prices/circle-li.png");
  padding-left: 10%;
  margin-bottom: 50px;
}
.plans .plan .choose {
  display: none;
  visibility: hidden;
}
.plans .selected_plan {
  margin: -30px -10px 0 -10px;
  padding: 30px 10px 0 10px;
  z-index: 90;
  position: absolute;
  width: 100%;
  background-color: #FFFFFF;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.plans .selected_plan .choose {
  align-self: stretch;
  display: block;
  visibility: visible;
  margin: 0 25px 45px;
}
.plans .selected_plan .choose a {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0;
  text-transform: capitalize;
}
.plans .button-compare {
  display: inline-block;
  width: 345px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.bottom-form > div {
  display: flex;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 80px;
  max-width: 1280px;
  color: #FFFFFF;
  text-align: center;
  background: url("../img/prices/form-bg.png") no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bottom-form > div p {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.2;
}
.bottom-form > div p:first-of-type {
  display: inline-block;
  margin: 60px 0 50px;
  text-transform: uppercase;
  font-size: 44px;
}
.bottom-form > div form {
  display: flex;
  flex-direction: column;
}
.bottom-form > div form input {
  margin-top: 50px;
}
.bottom-form > div form input[type=email] {
  width: 450px;
  align-self: center;
}
.bottom-form > div form input[type=submit] {
  width: 300px;
  text-transform: capitalize;
  align-self: center;
}
.big_popup {
  width: 100%;
  position: absolute;
  top: -100%;
  z-index: 99;
  background-color: white;
}
.big_popup > a {
  display: block;
  margin: 50px auto;
  width: 300px;
}
.big_popup .close_popup {
  position: absolute;
  top: 25px;
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 10;
}
.big_popup .close_popup a {
  display: block;
  padding-top: 20px;
  height: 100%;
}
.big_popup .close_popup div {
  background-color: #414b4d;
  height: 3px;
}
.big_popup .close_popup div:first-of-type {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.big_popup .close_popup div:last-of-type {
  margin-top: -3px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.big_popup .close_popup:hover {
  cursor: pointer;
}
.big_popup .header_popup div {
  margin-top: 50px;
  margin-bottom: 50px;
}
.big_popup .header_popup p {
  text-align: center;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
}
.big_popup .text_popup > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
}
.big_popup .text_popup a {
  flex-basis: 260px;
}
.big_popup .text_popup p {
  text-align: center;
}
.big_popup .t_wrapper {
  max-width: 1230px;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-x: scroll;
}
.big_popup .compare_plans_table {
  margin: 0 auto;
  border: none;
}
.big_popup .compare_plans_table tr {
  border: none;
  height: 50px;
}
.big_popup .compare_plans_table tr.sub_header {
  height: 80px;
}
.big_popup .compare_plans_table tr.sub_header td {
  text-align: center;
  vertical-align: middle;
  font-size: 19px;
  font-weight: 400;
}
.big_popup .compare_plans_table tr.sub_header td span {
  text-transform: uppercase;
}
.big_popup .compare_plans_table td {
  border: none;
}
.big_popup .compare_plans_table td:first-of-type {
  width: 330px;
  font-size: 16px;
  text-align: right;
  vertical-align: middle;
}
.big_popup .compare_plans_table td:not(:first-of-type) {
  width: 180px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
}
.big_popup .compare_plans_table thead tr {
  height: 210px;
}
.big_popup .compare_plans_table thead th {
  padding-top: 70px;
  text-align: center;
  vertical-align: top;
}
.big_popup .compare_plans_table thead th div:first-of-type {
  height: 50px;
  color: black;
}
.big_popup .compare_plans_table thead th .plan_price {
  display: flex;
  flex-direction: column;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.big_popup .compare_plans_table thead th .plan_price span:first-child {
  font-weight: 400;
  font-size: 48px;
  color: #ffd451;
}
.big_popup .compare_plans_table thead th .plan_price span:last-child {
  font-weight: 100;
  font-size: 12px;
  color: #b5b5b5;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .banner-prices > div:first-of-type {
    padding-left: 15px;
    margin-bottom: 140px;
  }
  .banner-prices > div:first-of-type a {
    display: block;
    margin: 0 auto;
  }
  .banner-prices > div:last-of-type {
    flex-direction: column;
  }
  .banner-prices > div:last-of-type a {
    margin-bottom: 20px;
    flex-basis: 50px;
  }
  .plans > div:first-of-type {
    margin-top: -40px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .plans > div:first-of-type > div {
    flex-basis: initial;
  }
  .bottom-form > div {
    height: auto;
  }
  .bottom-form > div p {
    font-size: 20px;
  }
  .bottom-form > div p:first-of-type {
    font-size: 38px;
  }
  .bottom-form > div form {
    margin-bottom: 25px;
  }
  .bottom-form > div form input[type=email] {
    width: 285px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .banner-prices > div {
    align-items: center;
  }
  .banner-prices > div a {
    display: block;
    width: 325px;
  }
  .banner-prices > div:last-of-type {
    flex-direction: column;
  }
  .banner-prices > div:last-of-type a {
    margin-bottom: 20px;
    flex-basis: 50px;
  }
  .plans > div:first-of-type {
    margin-top: -70px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .plans > div:first-of-type > div {
    flex-basis: initial;
  }
  .bottom-form > div {
    height: auto;
  }
  .bottom-form > div form {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 530px) {
  .banner-prices > div:last-of-type {
    flex-direction: row;
  }
  .banner-prices > div:last-of-type > a {
    margin-bottom: 0;
    flex-basis: 260px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .plans > div:first-of-type {
    margin-top: -90px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .plans > div:first-of-type > div {
    flex-basis: initial;
  }
  .plans .selected_plan .choose a {
    display: block;
    width: 260px;
    margin: 0 auto;
  }
}
