.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.button-common {
  text-align: center;
  padding: 12px 30px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: 300;
}
.button-green {
  background: #08bf32;
  color: #fff;
}
.button-white {
  border: 1px solid #fff;
  color: #fff;
}
.button-yellow {
  background: #ffd451;
  color: #414b4d;
}
.button-tr {
  border-color: #414b4d;
  background: transparent;
  color: #414b4d;
}
a.button-common,
a.button-common:hover {
  text-decoration: none;
}
a.button:hover span {
  box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}
a.button-common:hover {
  color: inherit;
  box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}
.banner-prices {
  min-height: 860px;
  background-image: url(../img/prices/lady.png);
  background-position: top left;
}
.banner-prices > div:first-of-type {
  margin-top: 95px;
  margin-bottom: 180px;
  padding-left: 70px;
  text-align: center;
}
.banner-prices > div:first-of-type a {
  padding-right: 45px;
  padding-left: 45px;
}
.banner-prices > div:last-of-type {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 80px;
}
.banner-prices > div:last-of-type a {
  font-weight: 400;
  display: block;
  flex-basis: 260px;
}
.banner-prices > div:last-of-type div {
  position: absolute;
}
.banner-prices p {
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  text-transform: uppercase;
}
.plans > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.plans > div:first-of-type {
  align-items: flex-start;
  margin-top: -120px;
}
.plans > div:first-of-type > div {
  flex-basis: 220px;
  position: relative;
  padding: 0;
  background-color: white;
}
.plans > div:last-of-type {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.plans > div:last-of-type p {
  font-size: 17px;
}
.plans .plan {
  box-shadow: 0 0 10px #b5b5b5;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FFFFFF;
  transition-property: margin,padding;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}
.plans .plan .plan_name {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
}
.plans .plan .plan_name span {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}
.plans .plan .plan_price {
  display: flex;
  flex-direction: column;
  height: 80px;
  align-items: center;
  justify-content: center;
}
.plans .plan .plan_price span:first-child {
  font-weight: 400;
  font-size: 48px;
  color: #ffd451;
}
.plans .plan .plan_price span:last-child {
  font-weight: 100;
  font-size: 12px;
  color: #b5b5b5;
}
.plans .plan .plan_description {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #252525;
  padding: 25px 5px 0 5px;
  max-height: 415px;
}
.plans .plan .plan_description span:first-child {
  flex-basis: 50px;
}
.plans .plan .plan_description ul {
  min-width: 150px;
  align-self: center;
  text-align: left;
  list-style: url("../img/prices/circle-li.png");
  padding-left: 10%;
  margin-bottom: 50px;
}
.plans .plan .choose {
  display: none;
  visibility: hidden;
}
.plans .selected_plan {
  margin: -30px -10px 0 -10px;
  padding: 30px 10px 0 10px;
  z-index: 90;
  position: absolute;
  width: 100%;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
.plans .selected_plan .choose {
  align-self: stretch;
  display: block;
  visibility: visible;
  margin: 0 25px 45px;
}
.plans .selected_plan .choose a {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 0;
  text-transform: capitalize;
}
.plans .button-compare {
  display: inline-block;
  width: 345px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.bottom-form > div {
  display: flex;
  height: 500px;
  margin-top: 10px;
  margin-bottom: 80px;
  max-width: 1280px;
  color: #FFFFFF;
  text-align: center;
  background: url("../img/prices/form-bg.png") no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bottom-form > div p {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.2;
}
.bottom-form > div p:first-of-type {
  display: inline-block;
  margin: 60px 0 50px;
  text-transform: uppercase;
  font-size: 44px;
}
.bottom-form > div form {
  display: flex;
  flex-direction: column;
}
.bottom-form > div form input {
  margin-top: 50px;
}
.bottom-form > div form input[type=email] {
  width: 450px;
  align-self: center;
}
.bottom-form > div form input[type=submit] {
  width: 300px;
  text-transform: capitalize;
  align-self: center;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .banner-prices > div:first-of-type {
    padding-left: 15px;
  }
  .banner-prices > div:first-of-type a {
    display: block;
    margin: 0 auto;
  }
  .banner-prices > div:last-of-type {
    flex-direction: column;
  }
  .banner-prices > div:last-of-type a {
    margin-bottom: 20px;
    flex-basis: 50px;
  }
  .plans > div:first-of-type {
    margin-top: -90px;
    margin-bottom: 50px;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
  }
  .plans > div:first-of-type > div {
    flex-basis: initial;
  }
  .bottom-form > div {
    height: auto;
  }
  .bottom-form > div p {
    font-size: 20px;
  }
  .bottom-form > div p:first-of-type {
    font-size: 38px;
  }
  .bottom-form > div form {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .banner-prices > div {
    align-items: center;
  }
  .banner-prices > div a {
    display: block;
    width: 325px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner-prices > div:last-of-type {
    flex-direction: row;
  }
  .banner-prices > div:last-of-type a {
    margin-bottom: 0;
    flex-basis: 260px;
  }
  .plans .selected_plan .choose a {
    display: block;
    width: 260px;
    margin: 0 auto;
  }
}
