* {
    outline: none;
}
html{
    overflow-x: hidden;
}
body {
    min-height: 800px;
    color: #414b4d;
}

body .wrapper {
    position: relative;
    font-size: 18px;
    font-family: 'Exo 2', sans-serif;
    padding: 0;
}

h2.block-title {
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
}
h4.question-text {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    color: #fff;
    text-decoration: underline;
}

.color-white {
    color: #fff;
}
.bg-white {
    background: #fff;
}
.bg-grey {
    background: #f5f7fa;
}
.button-green {
    background: #08bf32;
    color: #fff;
}
.button-yellow {
    background: #ffd451;
    color: #414b4d;
}
a.button, a.button:hover {
    text-decoration: none;
}
a.button:hover span {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}
.clear {
    clear: both;
}

header {
    position: absolute;
    width: 100%;
    height: 90px;
}
header img.logo-img {
    max-height: 29px;
}

header .header-wrapper {
    padding: 35px 10px 10px 10px;
}

header .header-wrapper .burger {
    float: left;
    width: 40px;
    line-height: 16px;
}

header .header-wrapper .burger a {
    font-size: 11px;
    color: #fff;
}

header .header-wrapper .top-menu {
    float: left;
    line-height: 35px;
    font-weight: 300;
}

header .header-wrapper .logo {
    line-height: 35px;
}

header .header-wrapper .right-block {
    line-height: 35px;
    text-align: right;
}

header .header-wrapper .top-phone {
    font-size: 18px;
    font-weight: 300;
}

header .header-wrapper .top-login {
    margin: 0 20px 0 40px;
    padding: 12px 30px;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 300;
}

header .header-wrapper .top-login:hover {
    text-decoration: none;
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

header .header-wrapper .top-lang {
    background: url(../img/arrow_down.png) no-repeat 100% 60%;
    padding: 0 15px;
}

body.dark header .header-wrapper .top-lang{
    background: url(../img/arrow_down_b.png) no-repeat 100% 60%;
}

body.dark header .header-wrapper a {
    color: #414b4d;
}

body.dark header .header-wrapper .top-login {
    border: 1px solid #414b4d;
}

body.dark section.top-banner .banner-text {
    color: #414b4d;
}

body.dark section.top-banner .banner-inner {
    padding: 200px 0 100px 500px;
}

/*======================== TOP_BANNER =========================*/

.top-banner {
    width: 100%;
    padding-top: 90px;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.1) inset
}
.top-banner.banner-security {
    background-image: url(../img/security/security-bg.jpg);
}
.top-banner.banner-blog {
    background-image: url(../img/blog/blog-bg.jpg);
}
.top-banner.banner-clients {
    background-image: url(../img/clients/clients-bg.jpg);
}
.top-banner.banner-contacts {
    background-image: url(../img/contacts/contacts-bg.jpg);
}
.top-banner.banner-company {
    background-image: url(../img/company/company-bg.jpg);
}
.top-banner.banner-cloud {
    background-image: url(../img/cloud/cloud-bg.jpg);
}
.top-banner.banner-partners {
    background-image: url(../img/partners/partners-bg.jpg);
}


.top-banner .banner-inner {
    height: 870px;
    padding: 200px 0 100px;
}
.top-banner .banner-inner .banner-suptext {
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.top-banner .banner-inner .banner-text  {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.top-banner.banner-security .banner-inner .banner-text  {
    margin-bottom: 150px;
}

.top-banner.banner-blog .banner-inner .banner-text  {
    margin-bottom: 80px;
}

.top-banner.banner-blog_detail .banner-inner .banner-date  {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

.top-banner.banner-company .banner-inner .banner-text {
    margin-bottom: 40px;
}

.top-banner.banner-contacts .banner-inner .banner-text {
    margin-bottom: 40px;
}

.top-banner.banner-cloud .banner-inner .banner-text {
    margin-bottom: 150px;
}

.top-banner.banner-partners .banner-inner .banner-text {
    margin-bottom: 150px;
}

.top-banner .banner-inner .banner-button {
    font-size: 18px;
    text-align: center;
}

.top-banner .banner-inner .banner-button span {
    padding: 14px 40px;
    border-radius: 50px;
}

.top-banner.banner-blog .banner-inner .banner-subtext {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.top-banner.banner-clients .banner-inner .banner-subtext {
    padding: 20px 0 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.top-banner .banner-inner .banner-subtext .button {
    padding: 5px 15px;
}

.top-banner .banner-inner .banner-subtext .button:after {
    content: " ";
    position: absolute;
    width: 29px;
    height: 17px;
    margin-top: 8px;
    margin-left: 3px;
    background: url(../img/arrow_down_big.png) no-repeat;
}

/*======================== /TOP_BANNER =========================*/

.content {
    width: 100%;
}
.content-crop {
    padding: 10px;
}
.content-crop .section-wrapper {
    margin: -210px 80px 0 80px;
    padding: 65px 85px;
}

/*======================== SECURITY =========================*/

section.section-security .first-block .security-item_block {
    text-align: center;
}

section.section-security .security-item_block:nth-of-type(4) {
    margin-left: 16.6%;
    clear: left;
}

section.section-security .security-item_block:nth-of-type(5) {
    margin-right: 16.6%;
}

section.section-security .security-img {
    margin-bottom: 25px;
}

section.section-security .security-title {
    margin-bottom: 25px;
    font-size: 19px;
    text-transform: uppercase;
}

section.section-security .security-description {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 300;
}

section.section-security .block-title {
    padding: 20px 20% 50px;
}

section.section-security-question {
    padding: 90px 20% 50px;
}

section.section-security-question .block-title {
    padding-bottom: 50px;
}

section.section-security-question .question-block {
    margin-bottom: 25px;
}

section.section-security-question .question-block .question-answer {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

section.section-security-question .question-block .question-text {
    margin-bottom: 30px;
}

/*======================== /SECURITY =========================*/
/*========================== BLOG ===========================*/

section.section-blog .one-post {
    margin-bottom: 80px;
}

section.section-blog .one-post .blog-item_block:last-child {
    padding: 30px;
}

section.section-blog .one-post .blog-item_block .img-block  img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
}

section.section-blog .one-post .blog-item_block .post-meta {
    margin-bottom: 15px;
}

section.section-blog .one-post .blog-item_block .post-meta .blog-rubric {
    float: left;
    color: #ffd451;
    font-size: 18px;
    text-transform: uppercase;
}

section.section-blog .one-post .blog-item_block .post-meta .date {
    float: right;
    line-height: 25px;
    font-size: 14px;
    font-weight: 200;
    vertical-align: bottom;

}

section.section-blog .one-post .blog-item_block .title {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

section.section-blog .one-post .blog-item_block .title a {
    color: #414b4d;
}

section.section-blog .one-post .blog-item_block .preview-text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 200;
}

section.section-blog .one-post .blog-item_block .more-link {
    color: #08bf32;
    font-size: 18px;
    font-weight: 200;
}

section.section-blog .one-post .blog-item_block .more-link:hover {
    color: #08bf32;
    text-decoration: underline;
}

section.section-blog .other-posts .blog-item_block {
    margin-bottom: 40px;
}

section.section-blog .other-posts .blog-item_block .post-meta {
    padding: 20px;
    opacity: 0.5;
}

section.section-blog .other-posts .blog-item_block .post-meta .blog-rubric {
    float: left;
    font-size: 16px;
    text-transform: uppercase;
}

section.section-blog .other-posts .blog-item_block .post-meta .date {
    float: right;
    line-height: 22px;
    font-size: 14px;
    font-weight: 200;
    vertical-align: bottom;
}

section.section-blog .other-posts .blog-item_block .img-block  img {
    width: 100%;
    /*max-height: 170px;*/
}

section.section-blog .other-posts .blog-item_block .title {
    height: 125px;
    padding: 20px;
    font-size: 20px;
}

section.section-blog .other-posts .blog-item_block .title a {
    color: #414b4d;;
}

section.section-blog .other-posts .blog-item_block .preview-text {
    padding: 0 20px 20px;
    font-size: 18px;
    font-weight: 200;
}

section.section-blog .other-posts .blog-item_block .more-link {
    display: block;
    padding: 0 20px 20px;
    color: #08bf32;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}

section.section-blog .other-posts .blog-item_block .more-link:hover {
    color: #08bf32;
    text-decoration: underline;
}

section.section-blog .view-more {
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
}

section.section-blog .view-more span {
    padding: 14px 90px;
    border-radius: 50px;
}

section.section-blog_detail .post {
    padding: 0 130px;
}

section.section-blog_detail .post .block-title {
    padding-bottom: 50px;
}

section.section-blog_detail .post .title {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
}

section.section-blog_detail .post .preview-text {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
}

section.section-blog_detail .post .webinar-link {
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
}

section.section-blog_detail .post .webinar-link span {
    padding: 14px 50px;
    border-radius: 50px;
}

/*======================== /BLOG =========================*/
/*======================== CLIENTS =======================*/

section.section-clients_history .block-title {
    padding: 20px 20% 50px;
}

section.section-clients_history .other-clients .client-item_block {
    margin-bottom: 40px;
}

section.section-clients_history .other-clients .client-item_block .item-meta {
    height: 60px;
    padding: 20px;
    opacity: 0.5;
}

section.section-clients_history .other-clients .client-item_block .item-meta .company-sphere {
    font-size: 14px;
    text-transform: uppercase;
}

section.section-clients_history .other-clients .client-item_block .img-block  {
    background: #d8d8d8;
    text-align: center;
}

section.section-clients_history .other-clients .client-item_block .img-block  img {
    max-width: 100%;
    padding: 20px 10px;
}

section.section-clients_history .other-clients .client-item_block .title {
    height: 125px;
    padding: 20px;
    font-size: 20px;
}

section.section-clients_history .other-clients .client-item_block .preview-text {
    min-height: 160px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 200;
}

section.section-clients_history .other-clients .client-item_block .more-link {
    display: block;
    padding: 0 20px 20px;
    color: #08bf32;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}

section.section-clients_history .other-clients .client-item_block .more-link:hover {
    color: #08bf32;
    text-decoration: underline;
}

section.section-clients_history .view-more {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

section.section-clients_history .view-more span {
    padding: 14px 90px;
    border-radius: 50px;
}

section.section-clients_history--detail .post {
    padding: 0 130px;
}

section.section-clients_history--detail .post .title {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
}

section.section-clients_history--detail .post .preview-text {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .block-title {
    padding: 20px 0 50px;
}

section.section-clients-about {
    padding: 70px 20%;
    text-align: center;
}

section.section-clients-about .client-item_block .img-block {
    margin-bottom: 30px;
}

section.section-clients-about .client-item_block .img-block  img {
    display: inline;
    width: inherit;
    max-width: 100%;
}

section.section-clients-about .client-item_block .preview-text {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .client-item_block .name-block {
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .client-item_block .company-block {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .view-more {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
}

section.section-clients-about .view-more span {
    padding: 14px 30px;
    border-radius: 50px;
}

/*======================== /CLIENTS =======================*/
/*======================== CONTACTS =======================*/

section.section-contacts .city-wide {
    padding-bottom: 60px;
}

section.section-contacts .city-small {
    padding-bottom: 60px;
}

section.section-contacts .city-small:last-of-type {
    padding-bottom: 0;
}

section.section-contacts .city-name {
    padding-bottom: 25px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

section.section-contacts .city-small .city-name {
    text-align: left;
}

section.section-contacts .info-block {
    min-height: 50px;
    padding-left: 40px;
    margin-bottom: 20px;
}

section.section-contacts .info-block .title {
    text-transform: uppercase;
}

section.section-contacts .info-block .text {
    font-weight: 300;
}

section.section-contacts .info-block.info-address {
    background: url(../img/address-icon.png) no-repeat 0 5px;
}

section.section-contacts .info-block.info-time {
    background: url(../img/time-icon.png) no-repeat 0 5px;
}

section.section-contacts .info-block.info-phone {
    background: url(../img/phone.png) no-repeat 0 5px;
}

section.section-contacts .info-block.info-mail {
    background: url(../img/mail.png) no-repeat 0 5px;
}

section.section-contacts .social {
    line-height: 40px;
}

section.section-contacts .social-list .social-item {
    display: inline-block;
    margin-right: 10px;
}

section.section-contacts .social-list .social-item:last-child {
    margin-right: 0;
}


/*======================== /CONTACTS =======================*/
/*========================== CLOUD =========================*/
section.content-crop.section-cloud .section-wrapper {
    padding: 0;
    margin: -238px 80px 0 80px;
}

section.section-cloud .cloud-block {
    padding: 65px 85px;
}

section.section-cloud .cloud-img {
    margin-bottom: 25px;
}

section.content-crop.section-cloud {
    padding-bottom: 0;
    padding-top: 1px;
}

section.section-cloud .cloud-block {
    padding: 28px 40px 0 100px;
}

section.section-cloud .cloud-img {
    margin-top: 37px;
    margin-bottom: 25px;
}

section.section-cloud .cloud-block:first-of-type .cloud-img {
    padding-left: 150px;
}

section.section-cloud .cloud-title {
    margin-bottom: 40px;
    font-size: 19px;
    text-transform: uppercase;
}

section.section-cloud .cloud-block:first-of-type .cloud-title {
    padding-left: 150px;
}

section.section-cloud-desc .cloud-desc_block > div {
    display: inline-block;
    vertical-align: top;
}

section.section-cloud-desc .cloud-desc_block .cloud-desc_title {
    width: 150px;
    font-size: 19px;
    text-transform: uppercase;
}

section.section-cloud-desc .cloud-desc_block > div:not(.cloud-desc_title) {
    width: 60%;
    font-weight: 300;
    padding-left: 20px;
}

section.section-cloud-desc .cloud-row {
    display: table;
    width: 100%;
}

section.section-cloud-desc .cloud-row .cloud-desc {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

section.section-cloud-desc .cloud-row > div:first-of-type {
    padding-left: 90px;
}

section.section-cloud-desc .cloud-row > div:last-of-type {
    padding-right: 90px;
}

section.section-cloud-desc .cloud-row .cloud-desc_block {
    padding: 0 40px 60px 80px;
}

section.section-cloud-desc .cloud-row .cloud-desc .cloud-button {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}

section.section-cloud-desc .cloud-row .cloud-desc:first-of-type .cloud-button {
    padding-left: 170px;
}

section.section-cloud-desc .cloud-button span {
    padding: 14px 40px;
    border-radius: 50px;
}

section.section-cloud-desc .cloud-row.cloud-one_button {
    display: none;
}

/*========================== /CLOUD =========================*/
/*========================== PARTNES ========================*/

section.section-partners .partners-title {
    margin-bottom: 25px;
    font-size: 44px;
    text-transform: uppercase;
}

section.section-partners .partners-description {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 300;
}

section.section-partners-list {
    padding: 0 165px 50px;
}

section.section-partners-list .partners-text,
section.section-partners-dealers .partners-text {
    width: 60%;
    margin: 0 auto 50px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

section.section-partners-list .block-title,
section.section-partners-dealers .block-title {
    padding: 20px 20% 50px;
}

section.section-partners-list .partners-list {
    display: table;
    width: 100%;
    margin-bottom: 70px;
}

section.section-partners-list .partners-list_item {
    display: table-cell;
    padding: 0 5%;
}

section.section-partners-list .partners-list img {
    width: 100%;
}

section.section-partners-list .partners-button {
    text-align: center;
}

section.section-partners-list .partners-button span {
    padding: 14px 40px;
    border-radius: 50px;
}

section.section-partners-list .dealers {
    margin: 100px 0;
    /*padding: 0 85px*/
}

section.section-partners-list .dealers .right {
    padding-left: 50px;
}

section.section-partners-list .dealers .block-title {
    padding: 0 0 10px;
    text-align: left;
}
section.section-partners-list .block-title.decision-title {
    padding: 60px 20% 50px;
}

section.section-partners-list .dealers .dealers-text {
   margin-bottom: 50px;
}

section.section-partners-dealers {
    padding: 70px 165px 50px;
}
section.section-partners-dealers .dealers-programm {
    margin-top: 80px;
}
section.section-partners-dealers .dealers-programm_title {
    padding-left: 10px;
    margin-bottom: 25px;
    color: #ffd451;
    font-size: 19px;
    line-height: 19px;
    border-left: 2px solid #ffd451;
}
/*========================= /PARTNES ========================*/

footer {
    background: #414b4d;
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 300;
}

footer .footer-wrapper {
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer .footer-wrapper .copyright {
    line-height: 40px;
}

footer .footer-wrapper .bottom-phone,
footer .footer-wrapper .bottom-email {
    display: block;
    color: #a6a6a6;
}

footer .footer-wrapper .bottom-email {
    text-decoration: underline;
}

footer .footer-wrapper .social {
    line-height: 40px;
}

footer .footer-wrapper .social-list .social-item {
    display: inline-block;
    margin-right: 10px;
}

footer .footer-wrapper .social-list .social-item:last-child {
    margin-right: 0;
}
