* {
    outline: none;
}
html{
    overflow-x: hidden;
}
body {
    min-height: 800px;
    color: #414b4d;
}

body .wrapper {
    position: relative;
    font-size: 19px;
    font-family: 'Exo 2', sans-serif;
    padding: 0;
}

h2.block-title {
    font-size: 44px;
    text-align: center;
    text-transform: uppercase;
}
h4.question-text {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus {
    color: #fff;
    text-decoration: underline;
}

.color-white {
    color: #fff;
}
.color-grey{
    color: #414b4d;
}
.bg-white {
    background: #fff;
}
.bg-grey {
    background: #f5f7fa;
}
.button-common{
    text-align: center;
    padding: 12px 30px;
    border-radius: 50px;
    border: 1px solid transparent;
    font-size: 19px;
    font-weight: 300;
    text-transform: uppercase;
}
.button-green {
    background: #08bf32;
    color: #fff;
}

.button-white {
	border: 1px solid #fff;
    color: #fff;
}


.button-yellow {
    background: #ffd451;
    color: #414b4d;
}
.button-tr{
    border-color: #414b4d;
    background: transparent;
    color: #414b4d;
}
a.button, a.button:hover, a.button-common, a.button-common:hover{
    text-decoration: none;
}
a.button:hover span {
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}
a.button-common:hover{
    color: inherit;
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}
.clear {
    clear: both;
}

header {
    position: absolute;
    width: 100%;
    height: 90px;
}
header img.logo-img {
    max-height: 29px;
}

header .header-wrapper {
    padding: 35px 10px 10px 10px;
}
/*======================== BURGER =========================*/
header .header-wrapper .burger {
    position: absolute;
    z-index: 200;
    float: left;
    width: 40px;
    height: 40px;
    line-height: 16px;
    cursor: pointer;
}

header .header-wrapper .burger div {
    position: absolute;
    /*z-index: 200;*/
    float: left;
    background: #000000;
    width: 33px;
    height: 3px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .25s ease-in-out;
}
header .header-wrapper .burger span{
    position: absolute;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .25s ease-in-out;
}

header .header-wrapper .burger div:first-of-type {
    top: 5px;
}
header .header-wrapper .burger div:last-of-type  {
    top: 15px;
}
header .header-wrapper .burger span{
    top: 20px;
}
/**/
header .header-wrapper .burger:hover div:first-of-type{
    top: 3px;
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
}
header .header-wrapper .burger:hover div:last-of-type{
    top: 17px;
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
}
header .header-wrapper .burger:hover span{
    top: 22px;
    -webkit-transition: .20s ease-in-out;
    -moz-transition: .20s ease-in-out;
    -o-transition: .20s ease-in-out;
    transition: .20s ease-in-out;
}
/**/
header .header-wrapper .burger.open div:first-of-type{
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
header .header-wrapper .burger.open div:last-of-type{
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
header .header-wrapper .burger.open span{
    opacity: 0;
    left: -50px;
    -webkit-transition: .16s ease-in-out;
    -moz-transition: .16s ease-in-out;
    -o-transition: .16s ease-in-out;
    transition: .16s ease-in-out;
}
/*======================== /BURGER =========================*/
header .header-wrapper .top-menu {
    float: left;
    padding-left: 55px;
    line-height: 35px;
    font-weight: 300;
}

header .header-wrapper .logo {
    line-height: 35px;
}

header .header-wrapper .right-block {
    line-height: 35px;
    text-align: right;
}

header .header-wrapper .top-phone {
    font-size: 18px;
    font-weight: 300;
}

header .header-wrapper .top-login {
    margin: 0 20px 0 40px;
    padding: 12px 30px;
    border-radius: 50px;
    border: 1px solid #fff;
    font-size: 18px;
    font-weight: 300;
}

header .header-wrapper .top-login:hover {
    text-decoration: none;
    box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.1) inset;
}

header .header-wrapper .top-lang {
    background: url(../img/arrow_down.png) no-repeat 100% 60%;
    padding: 0 15px;
}

body.dark header .header-wrapper .top-lang{
    background: url(../img/arrow_down_b.png) no-repeat 100% 60%;
}

body.dark header .header-wrapper a {
    color: #414b4d;
}

body.dark header .header-wrapper .top-login {
    border: 1px solid #414b4d;
}

body.dark section.top-banner .banner-text {
    color: #414b4d;
}

body.dark section.top-banner .banner-inner {
    padding: 200px 0 100px 500px;
}

/*======================== TOP_BANNER =========================*/

.top-banner {
    width: 100%;
    padding-top: 90px;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.1) inset
}
.top-banner.banner-security {
    background-image: url(../img/security/security-bg.jpg);
}
.top-banner.banner-blog {
    background-image: url(../img/blog/blog-bg.jpg);
}
.top-banner.banner-clients {
    background-image: url(../img/clients/clients-bg.jpg);
}
.top-banner.banner-contacts {
    background-image: url(../img/contacts/contacts-bg.jpg);
}
.top-banner.banner-company {
    background-image: url(../img/company/company-bg.jpg);
}
.top-banner.banner-cloud {
    background-image: url(../img/cloud/cloud-bg.jpg);
}
.top-banner.banner-partners {
    background-image: url(../img/partners/partners-bg.jpg);
}
.top-banner.banner-price{
    background-image: url(../img/prices/lady.png);
    background-position: 0 0;
}
.top-banner.banner-main {
    /* background-image: url(../img/main/main-bg.jpg); */
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset
}
.top-banner.banner-more {
    background-image: url(../img/more/more-bg.jpg);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset
}
.top-banner.banner-integ {
    background-image: url(../img/integration/integ-bg.png);
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5) inset
}

.top-banner .banner-inner {
    height: 870px;
    padding: 200px 0 100px;
}

.top-banner .banner-inner.main-height {
    /* height: 620px; */
    padding: 150px 0 100px;
}

.top-banner .banner-inner .banner-suptext {
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

.top-banner .banner-inner .banner-text  {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}

.top-banner.banner-security .banner-inner .banner-text  {
    margin-bottom: 150px;
}

.top-banner.banner-blog .banner-inner .banner-text  {
    margin-bottom: 80px;
}

.top-banner.banner-blog_detail .banner-inner .banner-date  {
    color: #fff;
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

.top-banner.banner-company .banner-inner .banner-text {
    margin-bottom: 40px;
}

.top-banner.banner-contacts .banner-inner .banner-text {
    margin-bottom: 40px;
}

.top-banner.banner-cloud .banner-inner .banner-text {
    margin-bottom: 150px;
}

.top-banner.banner-partners .banner-inner .banner-text {
    margin-bottom: 150px;
}

.top-banner .banner-inner .banner-button {
    font-size: 18px;
    text-align: center;
}

.top-banner .banner-inner .banner-button span {
    padding: 14px 40px;
    border-radius: 50px;
}

.top-banner .banner-inner .banner-button.main {
    font-size: 18px;
    text-align: center;
	margin: 45px 0 0 0;
}

.top-banner .banner-inner .banner-button.main span {
    padding: 10px 40px;
    border-radius: 50px;
	margin: 0 10px 0;
}

.top-banner .banner-inner .banner-button.integ {
    font-size: 18px;
    text-align: center;
	margin-top: 60px;
}

.top-banner .banner-inner .banner-button.integ span {
    padding: 10px 40px;
    border-radius: 50px;
}

.top-banner.banner-blog .banner-inner .banner-subtext {
    color: #fff;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}
.top-banner.banner-clients .banner-inner .banner-subtext {
    padding: 20px 0 40px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.top-banner .banner-inner .banner-subtext .button {
    padding: 5px 15px;
}

.top-banner .banner-inner .banner-subtext .button:after {
    content: " ";
    position: absolute;
    width: 29px;
    height: 17px;
    margin-top: 8px;
    margin-left: 3px;
    background: url(../img/arrow_down_big.png) no-repeat;
}
.top-banner.banner-price .banner-inner{
    padding: 100px 0 180px;
}
.top-banner.banner-price .banner-inner .banner-text{
    margin-bottom: 50px;
}
.top-banner.banner-price .banner-inner .banner-subtext{
    margin-bottom: 50px;
}
/*======================== /TOP_BANNER =========================*/

.content {
    width: 100%;
}
.content-crop {
    padding: 10px;
}
.content-crop .section-wrapper {
    margin: -210px 80px 0 80px;
    padding: 65px 85px;
}

.content-crop .section-wrapper-integ {
    margin: -210px 80px 0 80px;
    padding: 65px 85px;
}

.content-crop .section-wrapper-more {
    margin: -210px 80px 0 80px;
    padding: 65px 85px 0 85px;
}

@media (max-width: 1030px) {
.content-crop .section-wrapper-integ {
    margin: -210px 80px 0 80px;
    padding: 65px 0px;
}

.content-crop .section-wrapper-more {
    margin: -210px 80px 0 80px;
    padding: 65px 0px 0 0;
}
	}

/*======================== SECURITY =========================*/

section.section-security .first-block .security-item_block {
    text-align: center;
}

section.section-security .security-item_block:nth-of-type(4) {
    margin-left: 16.6%;
    clear: left;
}

section.section-security .security-item_block:nth-of-type(5) {
    margin-right: 16.6%;
}

section.section-security .security-img {
    margin-bottom: 25px;
}

section.section-security .security-title {
    margin-bottom: 25px;
    font-size: 19px;
    text-transform: uppercase;
}

section.section-security .security-description {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 300;
}

section.section-security .block-title {
    padding: 20px 20% 50px;
}

section.section-security-question {
    padding: 90px 20% 50px;
}

section.section-security-question .block-title {
    padding-bottom: 50px;
}

section.section-security-question .question-block {
    margin-bottom: 25px;
}

section.section-security-question .question-block .question-answer {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

section.section-security-question .question-block .question-text {
    margin-bottom: 30px;
}

/*======================== /SECURITY =========================*/
/*========================== BLOG ===========================*/

section.section-blog .one-post {
    margin-bottom: 80px;
}

section.section-blog .one-post .blog-item_block:last-child {
    padding: 30px;
}

section.section-blog .one-post .blog-item_block .img-block  img {
    width: 100%;
    min-width: 300px;
    max-width: 500px;
}

section.section-blog .one-post .blog-item_block .post-meta {
    margin-bottom: 15px;
}

section.section-blog .one-post .blog-item_block .post-meta .blog-rubric {
    float: left;
    color: #ffd451;
    font-size: 18px;
    text-transform: uppercase;
}

section.section-blog .one-post .blog-item_block .post-meta .date {
    float: right;
    line-height: 25px;
    font-size: 14px;
    font-weight: 200;
    vertical-align: bottom;

}

section.section-blog .one-post .blog-item_block .title {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
}

section.section-blog .one-post .blog-item_block .title a {
    color: #414b4d;
}

section.section-blog .one-post .blog-item_block .preview-text {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 200;
}

section.section-blog .one-post .blog-item_block .more-link {
    color: #08bf32;
    font-size: 18px;
    font-weight: 200;
}

section.section-blog .one-post .blog-item_block .more-link:hover {
    color: #08bf32;
    text-decoration: underline;
}

section.section-blog .other-posts .blog-item_block {
    margin-bottom: 40px;
}

section.section-blog .other-posts .blog-item_block .post-meta {
    padding: 20px;
    opacity: 0.5;
}

section.section-blog .other-posts .blog-item_block .post-meta .blog-rubric {
    float: left;
    font-size: 16px;
    text-transform: uppercase;
}

section.section-blog .other-posts .blog-item_block .post-meta .date {
    float: right;
    line-height: 22px;
    font-size: 14px;
    font-weight: 200;
    vertical-align: bottom;
}

section.section-blog .other-posts .blog-item_block .img-block  img {
    width: 100%;
    /*max-height: 170px;*/
}

section.section-blog .other-posts .blog-item_block .title {
    height: 125px;
    padding: 20px;
    font-size: 20px;
}

section.section-blog .other-posts .blog-item_block .title a {
    color: #414b4d;;
}

section.section-blog .other-posts .blog-item_block .preview-text {
    padding: 0 20px 20px;
    font-size: 18px;
    font-weight: 200;
}

section.section-blog .other-posts .blog-item_block .more-link {
    display: block;
    padding: 0 20px 20px;
    color: #08bf32;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}

section.section-blog .other-posts .blog-item_block .more-link:hover {
    color: #08bf32;
    text-decoration: underline;
}

section.section-blog .view-more {
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
}

section.section-blog .view-more span {
    padding: 14px 90px;
    border-radius: 50px;
}

section.section-blog_detail .post {
    padding: 0 130px;
}

section.section-blog_detail .post .block-title {
    padding-bottom: 50px;
}

section.section-blog_detail .post .title {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
}

section.section-blog_detail .post .preview-text {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
}

section.section-blog_detail .post .webinar-link {
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
}

section.section-blog_detail .post .webinar-link span {
    padding: 14px 50px;
    border-radius: 50px;
}

/*======================== /BLOG =========================*/
/*======================== CLIENTS =======================*/

section.section-clients_history .block-title {
    padding: 20px 20% 50px;
}

section.section-clients_history .other-clients .client-item_block {
    margin-bottom: 40px;
}

section.section-clients_history .other-clients .client-item_block .item-meta {
    height: 60px;
    padding: 20px;
    opacity: 0.5;
}

section.section-clients_history .other-clients .client-item_block .item-meta .company-sphere {
    font-size: 14px;
    text-transform: uppercase;
}

section.section-clients_history .other-clients .client-item_block .img-block  {
    background: #d8d8d8;
    text-align: center;
}

section.section-clients_history .other-clients .client-item_block .img-block  img {
    max-width: 100%;
    padding: 20px 10px;
}

section.section-clients_history .other-clients .client-item_block .title {
    height: 125px;
    padding: 20px;
    font-size: 20px;
}

section.section-clients_history .other-clients .client-item_block .preview-text {
    min-height: 160px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 200;
}

section.section-clients_history .other-clients .client-item_block .more-link {
    display: block;
    padding: 0 20px 20px;
    color: #08bf32;
    font-size: 18px;
    font-weight: 200;
    text-transform: uppercase;
}

section.section-clients_history .other-clients .client-item_block .more-link:hover {
    color: #08bf32;
    text-decoration: underline;
}

section.section-clients_history .view-more {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

section.section-clients_history .view-more span {
    padding: 14px 90px;
    border-radius: 50px;
}

section.section-clients_history--detail .post {
    padding: 0 130px;
}

section.section-clients_history--detail .post .title {
    margin-bottom: 30px;
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
}

section.section-clients_history--detail .post .preview-text {
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .block-title {
    padding: 20px 0 50px;
}

section.section-clients-about {
    padding: 70px 20%;
    text-align: center;
}

section.section-clients-about .client-item_block .img-block {
    margin-bottom: 30px;
}

section.section-clients-about .client-item_block .img-block  img {
    display: inline;
    width: inherit;
    max-width: 100%;
}

section.section-clients-about .client-item_block .preview-text {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .client-item_block .name-block {
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .client-item_block .company-block {
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 300;
}

section.section-clients-about .view-more {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
}

section.section-clients-about .view-more span {
    padding: 14px 30px;
    border-radius: 50px;
}

/*======================== /CLIENTS =======================*/
/*======================== CONTACTS =======================*/

section.section-contacts .city-wide {
    padding-bottom: 60px;
}

section.section-contacts .city-small {
    padding-bottom: 60px;
}

section.section-contacts .city-small:last-of-type {
    padding-bottom: 0;
}

section.section-contacts .city-name {
    padding-bottom: 25px;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

section.section-contacts .city-small .city-name {
    text-align: left;
}

section.section-contacts .info-block {
    min-height: 50px;
    padding-left: 40px;
    margin-bottom: 20px;
}

section.section-contacts .info-block .title {
    text-transform: uppercase;
}

section.section-contacts .info-block .text {
    font-weight: 300;
}

section.section-contacts .info-block.info-address {
    background: url(../img/address-icon.png) no-repeat 0 5px;
}

section.section-contacts .info-block.info-time {
    background: url(../img/time-icon.png) no-repeat 0 5px;
}

section.section-contacts .info-block.info-phone {
    background: url(../img/phone.png) no-repeat 0 5px;
}

section.section-contacts .info-block.info-mail {
    background: url(../img/mail.png) no-repeat 0 5px;
}

section.section-contacts .social {
    line-height: 40px;
}

section.section-contacts .social-list .social-item {
    display: inline-block;
    margin-right: 10px;
}

section.section-contacts .social-list .social-item:last-child {
    margin-right: 0;
}

/*======================== /CONTACTS =======================*/
/*========================== CLOUD =========================*/
section.content-crop.section-cloud .section-wrapper {
    padding: 0;
    margin: -238px 80px 0 80px;
}

section.section-cloud .cloud-block {
    padding: 65px 85px;
}

section.section-cloud .cloud-img {
    margin-bottom: 25px;
}

section.content-crop.section-cloud {
    padding-bottom: 0;
    padding-top: 1px;
}

section.section-cloud .cloud-block {
    padding: 28px 40px 0 100px;
}

section.section-cloud .cloud-img {
    margin-top: 37px;
    margin-bottom: 25px;
}

section.section-cloud .cloud-block:first-of-type .cloud-img {
    padding-left: 150px;
}

section.section-cloud .cloud-title {
    margin-bottom: 40px;
    font-size: 19px;
    text-transform: uppercase;
}

section.section-cloud .cloud-block:first-of-type .cloud-title {
    padding-left: 150px;
}

section.section-cloud-desc .cloud-desc_block > div {
    display: inline-block;
    vertical-align: top;
}

section.section-cloud-desc .cloud-desc_block .cloud-desc_title {
    width: 150px;
    font-size: 19px;
    text-transform: uppercase;
}

section.section-cloud-desc .cloud-desc_block > div:not(.cloud-desc_title) {
    width: 60%;
    font-weight: 300;
    padding-left: 20px;
}

section.section-cloud-desc .cloud-row {
    display: table;
    width: 100%;
}

section.section-cloud-desc .cloud-row .cloud-desc {
    display: table-cell;
    width: 50%;
    vertical-align: top;
}

section.section-cloud-desc .cloud-row > div:first-of-type {
    padding-left: 90px;
}

section.section-cloud-desc .cloud-row > div:last-of-type {
    padding-right: 90px;
}

section.section-cloud-desc .cloud-row .cloud-desc_block {
    padding: 0 40px 60px 80px;
}

section.section-cloud-desc .cloud-row .cloud-desc .cloud-button {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
}

section.section-cloud-desc .cloud-row .cloud-desc:first-of-type .cloud-button {
    padding-left: 170px;
}

section.section-cloud-desc .cloud-button span {
    padding: 14px 40px;
    border-radius: 50px;
}

section.section-cloud-desc .cloud-row.cloud-one_button {
    display: none;
}

/*========================== /CLOUD =========================*/
/*========================== PARTNES ========================*/

section.section-partners .partners-title {
    margin-bottom: 25px;
    font-size: 44px;
    text-transform: uppercase;
}

section.section-partners .partners-description {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: 300;
}

section.section-partners-list {
    padding: 0 165px 50px;
}

section.section-partners-list .partners-text,
section.section-partners-dealers .partners-text {
    width: 60%;
    margin: 0 auto 50px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

section.section-partners-list .block-title,
section.section-partners-dealers .block-title {
    padding: 20px 20% 50px;
}

section.section-partners-list .partners-list {
    display: table;
    width: 100%;
    margin-bottom: 70px;
}

section.section-partners-list .partners-list_item {
    display: table-cell;
    padding: 0 5%;
}

section.section-partners-list .partners-list img {
    width: 100%;
}

section.section-partners-list .partners-button {
    text-align: center;
}

section.section-partners-list .partners-button span {
    padding: 14px 40px;
    border-radius: 50px;
}

section.section-partners-list .dealers {
    margin: 100px 0;
    /*padding: 0 85px*/
}

section.section-partners-list .dealers .right {
    padding-left: 50px;
}

section.section-partners-list .dealers .block-title {
    padding: 0 0 10px;
    text-align: left;
}
section.section-partners-list .block-title.decision-title {
    padding: 60px 20% 50px;
}

section.section-partners-list .dealers .dealers-text {
   margin-bottom: 50px;
}

section.section-partners-dealers {
    padding: 70px 165px 50px;
}
section.section-partners-dealers .dealers-programm {
    margin-top: 80px;
}
section.section-partners-dealers .dealers-programm_title {
    padding-left: 10px;
    margin-bottom: 25px;
    color: #ffd451;
    font-size: 19px;
    line-height: 19px;
    border-left: 2px solid #ffd451;
}
/*========================= /PARTNES ========================*/

footer {
    background: #414b4d;
    color: #a6a6a6;
    font-size: 14px;
    font-weight: 300;
}

footer .footer-wrapper {
    width: 100%;
    padding: 20px;
    text-align: center;
}

footer .footer-wrapper .copyright {
    line-height: 40px;
}

footer .footer-wrapper .bottom-phone,
footer .footer-wrapper .bottom-email {
    display: block;
    color: #a6a6a6;
}

footer .footer-wrapper .bottom-email {
    text-decoration: underline;
}

footer .footer-wrapper .social {
    line-height: 40px;
}

footer .footer-wrapper .social-list .social-item {
    display: inline-block;
    margin-right: 10px;
}

footer .footer-wrapper .social-list .social-item:last-child {
    margin-right: 0;
}
/*========================= MAIN ========================*/

.info-block-main {
    background: url(../img/main/main-icon.png) no-repeat 1px 7px;
	padding: 0 0 0 35px;
	color: #fff;
	background-size: 25px auto;
}

.info-block-div{
	display: inline-block;
	padding-top: 120px;
}

#video_bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1000;
    min-width: 100%;
    min-height: 100%;
    width: 1366px;
    height: 768px;
}

@media (max-width: 1030px) {
#video_bg {
    width: 1024px;
    height: 768px;
}
}

@media (max-width: 970px) {
#video_bg {
    width: 960px;
    height: 640px;
}
}

.main-block-mute {
    position: fixed;
    min-width: 35px;
    min-height: 35px;
    background: url(../img/main/main-mute-icon.png) no-repeat center;
    top: 90%;
    right: 1%;
    border: 0;
    background-size: 35px auto;
}

/*========================= /MORE ========================*/
.content-crop-more{
	padding-bottom: 0px;
}

.more-text{
	display: block;
	position: relative;
}

.more-text-os-1{
	padding: 0 50% 0 5%;
	margin-bottom: 80px;
}

.more-text-os-2{
	padding: 0 5% 0 50%;
	margin-bottom: 80px;
}

.more-text-os-3{
	background:  #f5f7fa;
	padding: 0 50% 0 5%;
	margin-bottom: 80px;
	min-height: 440px;
}

.more-text-bg-1 {
    background: url(../img/more/more-pic-1.png) no-repeat center;
    background-size: 800px auto;
    position: absolute;
    min-width: 800px;
    min-height: 500px;
    bottom: -115px;
    right: -22%;
}

.more-text-bg-2 {
    background: url(../img/more/more-pic-2.png) no-repeat center;
    background-size: 800px auto;
    position: absolute;
    min-width: 800px;
    min-height: 500px;
    bottom: -175px;
    left: -27%;
}

.more-text-bg-3 {
    background: url(../img/more/more-pic-3.png) no-repeat center;
    background-size: 800px auto;
    position: absolute;
    min-width: 800px;
    min-height: 500px;
    bottom: -45px;
    right: -22%;
}

.more-div-text-button{
	margin: 20px auto;
}

.more-block-gray{
	background: #f5f7fa;
	padding: 50px 70px 50px 70px;
	width: 100%;
}

.more-block-gray-c{
	text-align: center;
	margin: 0 auto;
}

.more-block-gray-form{
	margin: 150px auto 0 auto;
	position: relative;
}

.more-block-white{
	width: 100%;
	text-align: center;
	margin: 50px auto;
}

.more-block-white-video {
	background: url(../img/more/more-video.png) no-repeat center;
	background-size: 800px auto;
	background-position-x: 35%;
	min-height: 550px;
}

.more-block-gray-dis{
	display: inline-block;
}

.more-title{
	font-size: 44px;
	text-transform: uppercase;
	font-weight:bold;
	line-height: 45px;
}

.more-title-bott{
	padding-bottom: 40px;
}
.more-title-top{
	padding-top: 40px;
}

.more-div-button{
	margin: 415px auto 0;
}

.more-button-yellow {
	background: #ffd451;
	color: #414b4d;
	padding: 10px 40px;
	border-radius: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.more-button-green {
	background: #08bf32;
	color: #fff;
	padding: 10px 40px;
	border-radius: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.more-elem-main{
	margin: 0 auto;
	display: table;
}

.more-elem {
	text-transform: uppercase;
	display: table-cell;
	min-height: 100px;
	max-width: 180px;
	padding-top: 87px;
}

.more-elem-pic-1{background: url(../img/more/more-wwb-1.png) no-repeat center 0; background-size: 50px auto;}
.more-elem-pic-2{background: url(../img/more/more-wwb-2.png) no-repeat center 14px; background-size: 50px auto;}
.more-elem-pic-3{background: url(../img/more/more-wwb-3.png) no-repeat center 12px; background-size: 50px auto;}
.more-elem-pic-4{background: url(../img/more/more-wwb-4.png) no-repeat center 8px; background-size: 50px auto;}
.more-elem-pic-5{background: url(../img/more/more-wwb-5.png) no-repeat center 0; background-size: 50px auto;}

.more-elem-use-main{
	display: table;
	margin: 0 auto;
}

.more-elem-use{
	display: table-cell;
	height: 60px;
	max-width: 180px;
	padding-right: 140px;
}

.more-elem-use-pic-1{
	background: url(../img/more/more-use-1.png) no-repeat center;
	background-size: 35px auto;
	min-width: 60px;
}
.more-elem-use-pic-2{
	background: url(../img/more/more-use-2.png) no-repeat center;
	background-size: 125px auto;
	min-width: 125px;
}
.more-elem-use-pic-3{
	background: url(../img/more/more-use-3.png) no-repeat center;
	background-size: 60px auto;
	min-width: 60px;
}
.more-elem-use-pic-4{
	background: url(../img/more/more-use-4.png) no-repeat center;
	background-size: 140px auto;
	min-width: 140px;
}
.more-elem-use-pic-5{
	background: url(../img/more/more-use-5.png) no-repeat center;
	background-size: 45px auto;
	min-width: 45px;
}
.more-elem-use-pic-6{
	background: url(../img/more/more-use-6.png) no-repeat center;
	background-size: 125px auto;
	min-width: 125px;
}
.more-elem-use-pic-7{
	background: url(../img/more/more-use-7.png) no-repeat center;
	background-size: 60px auto;
	min-width: 60px;
}

.more-form{
	width: 50%;
}

.more-input{
	border: none;
	border-bottom: 1px solid #414b4d;
	background-color: transparent;
	width: 100%;
	font-size: 16px;
	padding-bottom: 10px;
	margin-top: 20px;
}

.more-small-text{
	font-size: 12px;
}

.more-reestr{
	background: url(../img/more/more-reestr.png) no-repeat center;
	background-size: 100% auto;
	width: 400px;
	height: 75px;
}

.more-rt{
	background: url(../img/more/more-rt.png) no-repeat center;
	background-size: 800px auto;
	min-width: 800px;
	min-height: 670px;
	position: absolute;
	bottom: 0;
	left: 500px;
}

.more-block-comfort{
	padding: 0 0 0 50%;
	text-align: left;
	position: relative;
	margin: 100px 0 130px 0;
}

.more-apple{
	background: url(../img/more/more-apple.png) no-repeat center;
	background-size: 650px auto;
	min-width: 650px;
	min-height: 500px;
	position: absolute;
	bottom: -35%;
	left: -23%;
}

.more-smart{
	min-width: 100px;
	min-height: 30px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

.more-app{
	background: url(../img/more/more-app.png) no-repeat center;
	/* background-size: 100px auto; */
}

.more-goo{
	background: url(../img/more/more-goo.png) no-repeat center;
	/* background-size: 100px auto; */
}

@media (max-width: 1030px) {
.more-text-bg-1{
	background-size: 700px auto;
	min-width: 700px;
}

.more-text-bg-2{
	left: -30%;
	background-size: 700px auto;
	min-width: 700px;
}

.more-text-bg-2{
	background-size: 700px auto;
	min-width: 700px;
	bottom: -80px;
}

.more-apple{
	left: -30%;
}
.more-block-white-video {
	min-height: 600px;
}
.more-elem-use {
    margin: 0 1.5%;
}
.more-rt {
    left: 430px;
}
.more-elem-use {
    padding-right: 110px;
}
}

@media (max-width: 970px) {
.more-text-bg-1 {
    right: -34%;
}
.more-text-bg-2 {
	bottom: -150px;
	left: -37%;
}
.more-text-bg-3 {
    right: -40%;
	bottom: -72px;
}
.more-apple {
    left: -35%;
}
.more-elem-use {
    padding-right: 90px;
}
}

/*========================= /integration ========================*/
.integ-head{
	margin: 0 auto;
	margin-bottom: 5%;
	text-align: center;
	width: 80%;
}

.integ-title{
	font-size: 44px;
	text-transform: uppercase;
	font-weight:bold;
	line-height: 45px;
}

.integ-title-bott{
	padding-bottom: 40px;
}

.integ-title-top{
	padding-top: 40px;
}

.integ-title-center{
	text-align: center;
}

.integ-title-small{
	font-size: 30px;
	text-transform: uppercase;
	line-height: 40px;
	padding-bottom: 20px;
}

.integ-title-very-small{
	text-transform: uppercase;
	line-height: 40px;
	font-weight: bold;
}

.integ-for-dev{
	margin: 0 auto;
	text-align: center;
	height:auto;
	display: flow-root;
	padding-left: 5%;
}

.integ-small-block{
	text-align: left;
	float: left;
	min-width: 32%;
	margin-right: 1%;
	font-size: 16px;
	line-height: 1.8;
}

.integ-geen-text{
	color: #08bf32;
}

.integ-main{
	width: 100%;
	background: #f5f7fa;
	padding: 50px 5% 0 5%;
	display: flow-root;
	margin: 2% auto;
}

.integ-elem{
	padding-top: 70px;
	padding-right: 2%;
	width: 32%;
	float: left;
	margin-bottom: 2%;
}

.integ-elem-2{
	padding-top: 70px;
	padding-right: 2%;
	width: 32%;
	display: table-cell;
	margin-bottom: 2%;
	position: relative;
	padding-bottom: 45px;
}

.integ-elem-footer{
	margin-top: 30px;
}

.integ-elem-icon-1{background: url(../img/integration/integ-icon-1.png) no-repeat;}
.integ-elem-icon-2{background: url(../img/integration/integ-icon-2.png) no-repeat;}
.integ-elem-icon-3{background: url(../img/integration/integ-icon-3.png) no-repeat;}
.integ-elem-icon-4{background: url(../img/integration/integ-icon-4.png) no-repeat;}
.integ-elem-icon-5{background: url(../img/integration/integ-icon-5.png) no-repeat;}
.integ-elem-icon-6{background: url(../img/integration/integ-icon-6.png) no-repeat;}
.integ-elem-icon-7{background: url(../img/integration/integ-icon-7.png) no-repeat;}
.integ-elem-icon-8{background: url(../img/integration/integ-icon-8.png) no-repeat;}
.integ-elem-icon-9{background: url(../img/integration/integ-icon-9.png) no-repeat;}
.integ-elem-icon-10{background: url(../img/integration/integ-icon-10.png) no-repeat;}
.integ-elem-icon-11{background: url(../img/integration/integ-icon-11.png) no-repeat;}
.integ-elem-icon-12{background: url(../img/integration/integ-icon-12.png) no-repeat;}
.integ-elem-icon-13{background: url(../img/integration/integ-icon-13.png) no-repeat;}
.integ-elem-icon-14{background: url(../img/integration/integ-icon-14.png) no-repeat;}
.integ-elem-icon-15{background: url(../img/integration/integ-icon-15.png) no-repeat;}
.integ-elem-icon-16{background: url(../img/integration/integ-icon-16.png) no-repeat;}

.integ-ip-tell{
	float: left;
	display: table;
	width: 66%;
}

.integ-deal{
	float: left;
	width: 30%;
	display: table;
}

.integ-add-func{
	margin: 0 auto;
	display: flow-root;
	padding-top: 50px;
	padding-left: 10%;
}

.integ-button{
	margin-top: 60px;
	padding-left: 40%;
    padding-right: 40%;
}

.integ-title-for-elem{
	display: table;
	margin-top: 5%;
	padding-top: 3%;
}

.integ-title-for-elem-1{
	width: 55%;
	display: table-cell;
}

.integ-title-for-elem-2{
	width: 30%;
	display: table-cell;
}

.integ-footer-1{
	display: flow-root;
}

.integ-price{
	font-size: 30px;
	text-decoration: bold;
	color: #ffd451;
	position: absolute;
	bottom: 0;
}

.integ-title-block{
	display: inline-block;
	padding-bottom: 30px;
}

@media (max-width: 970px) {
.integ-small-block {
    min-width: 30%;
}
}

/*========================= /SFP (Решения от партнёров, всплывашка) ========================*/
.sfp-close{
	background: url(../img/integration/integ-close.png) no-repeat;
	width: 25px;
	height: 25px;
	margin: 20px 0 0 20px;
}

.sfp-main{
	width: 100%;
	min-height: 1000%;
	height:auto;
	background-color: #f5f7fa;
	/* position: fixed; */
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0 auto;
	display: none;
	/* overflow: auto; */
	z-index: 1000;
}

.sfp-div-line{
	margin: 0 auto;
	display: table;
	width: 80%;
}

.sfp-cell{
	width: 32%;
	text-align: center;
	margin: 10px auto;
	display: table-cell;
}

.sfp-title{
	font-size: 60px;
	color: #414b4d;
	text-align: center;
	text-transform: uppercase;
}

.sfp-cell{
	width: 33%;
	text-align: center;
	float: left;
	margin: 10px auto;
	height: 250px;
	position: relative;
}

.sft-circle {
	width: 100px;
	height: 100px;
	margin: 0 auto;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.sft-cell-bott{
	width: 100%;
	margin: 10px auto;
	position: absolute;
	bottom: 0;
}

.sft-circle-1 {background: #fff url('../img/integration/sfp-icon-1.png') no-repeat center;}
.sft-circle-2 {background: #fff url('../img/integration/sfp-icon-2.png') no-repeat center;}
.sft-circle-3 {background: #fff url('../img/integration/sfp-icon-3.png') no-repeat center;}

.sft-price{
	font-size: 30px;
	text-decoration: bold;
	color: #ffd451;
	margin: 0 0 0 20px;
}

.sft-descrip{
	width: 250px;
	margin: 0 auto;
}

.sfp-button{
	margin-top: 30px;
	margin-bottom: 40px;
    padding-left: 40%;
    padding-right: 38%;
}

.sft-button{
	margin: 10px;
}

.button-green-withoutb {
	margin: 20px 0 0 0;
	border: 1px solid #08bf32;
	padding: 10px 40px;
    color: #08bf32;
	border-radius: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 18px;
	font-family: 'Exo 2', sans-serif;
}

.sft-p-bott{
	margin-bottom: 16px;
}

.is_overlay{ display: block; width: 100%; height: 100%; }

#trailer {
position: fixed;
top: 0; right: 0; bottom: 0; left: 0;
overflow: hidden;
z-index: -1000;
}

#trailer > video {
position: absolute;
top: 0;
left: 0;
min-width: 100%;
min-height: 100%;
width: auto; height: auto;
z-index: -1000;
}

 @media (min-aspect-ratio: 16/9) {
     #trailer > video { height: 300%; top: -100%; }
 }
 @media (max-aspect-ratio: 16/9) {
     #trailer > video { width: 300%; left: -100%; }
 }

 @supports (object-fit: cover) {
     #trailer > video {
         top: 0; left: 0;
         width: 100%; height: 100%;
         object-fit: cover;
     }
 }